{% extends "base.html" %}

{% block content %}
<a class='basic_link' href="/books/{{book.id}}"><i class="fas fa-angle-double-right fa-rotate-180"></i><span
  class='basic_link_text'>Back</span></i></a>
<h1>Edit Session - {{book.title}}</h1>


<hr>

  <form action="/books/{{book.id}}" method="post">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" value="{{book.title}}" required>
    

    
      <label for="description">Description:</label>
      <input type="text" id="description" name="description" value="{{book.description}}" required>
    


    
      <label for="stock">Stock:</label>
      <input type="text" id="stock" name="stock" value="{{book.stock}}" required>
    

    
      <label for="buying_cost">Bying cost:</label>
      <input type="text" id="buying_cost" name="buying_cost" value="{{book.buying_cost}}" required>
    


    
      <label for="selling_price">Selling price:</label>
      <input type="text" id="selling_price" name="selling_price" value="{{book.selling_price}}" required>
    

    
      <label for="genre">Genre</label>
      <input type="text" id="genre" name="genre" value="{{book.genre}}" required>
    

    
      <label for="isbn_code">ISBN code</label>
      <input type="text" id="isbn_code" name="isbn_code" value="{{book.isbn_code}}" required>
    

    
      <label for="author">Author :</label>
      <select name="author_id" id="author">
        {% for author in authors %}
        <option value="{{author.id}}" {% if book.author.id == author.id %} selected="selected" {% endif %}>
          {{ author.first_name }} {{ author.last_name }}
        </option>
        {% endfor %}
      </select>
    




 
<p><br/></p>
<br>
    <div><button class='button far fa-calendar-plus' type="submit">Update Book</button></div>



  </form>

{% endblock %}