{% extends "base.html" %}

{% block content %}

{% for book in books %}

<table>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Genre</th>
        <th>Stock</th>
        <th>Buying cost</th>
        <th>Selling price</th>
        <th>ISBN code</th>
        <th>Author</th>
    </tr>



    <tr>
        <td>{{book.title}}</td>
        <td>{{book.description}}</td>
        <td>{{book.genre}}</td>
        <td>{{book.stock}}

            <style>
                .alert {
                    background-color: #f44336;
                    color: white;
                }

                .success {
                    background-color: #04AA6D;
                    color: white;
                }

                .info {
                    background-color: #2196F3;
                    color: white;
                }

                .warning {
                    background-color: #ff9800;
                    color: white;
                }
            </style>

            {% if book.stock == 0 %}
            <i class="alert">OUT OF STOCK</i>
            {% elif book.stock <= 2 %}
            <i class="warning">LOW STOCK</i>
            {% else %}
            <i class="success">IN STOCK</i>
            {% endif %}
            <h1>{{book.model}}</h1>
            </h4>
        </td>




        <td>{{book.buying_cost}}</td>
        <td>{{book.selling_price}}</td>
        <td>{{book.isbn_code}}</td>
        <td>{{book.author.first_name}} {{book.author.last_name}}</td>




        <td><button><a href="/books/{{book.id}}">View book</a></button></td>
        <td><button><a href="/books/{{book.id}}/edit">Edit book</a></button></td>
        <td>
            <form id="delete" action="/books/{{ book.id }}/delete" method="POST"><input type="submit" value="Delete">
            </form>
        </td>
    </tr>

    {% endfor %}

</table>


{% endblock %}