{% extends 'base.html' %}

{% block content %}


<a class='basic_link' href="/books"><i class="fas fa-angle-double-right fa-rotate-180"></i><span
    class='basic_link_text'>Back</span></i></a>



<h1>{{book.title}}</h1>

<div class="shelf">  {% if book.stock == 0 %}
    <i class="alert">This book is out of stock</i>
    {% elif book.stock <= 2 %}
    <i class="warning">We have a low stock for this book</i>
    {% else %}
    <i class="success">This book is in stock</i>
    {% endif %}
     </div>

<hr>
<table class='results'>
    <td>
        <tr>
            <th>Book description:</th>
            <td>{{book.description}}</td>
        </tr>

        <tr>
            <th>Quantity:</th>
            <td>{{book.stock}}</td>
        </tr>

        <tr>
            <th>Buying cost:</th>
            <td>{{book.buying_cost}}</td>
        </tr>

        <tr>
            <th>Selling price:</th>
            <td>{{book.selling_price}}</td>
        </tr>
      
        <tr>
            <th>Genre:</th>
            <td>{{book.genre}}</td>
        </tr>

        <tr>
            <th>ISBN Code:</th>
            <td>{{book.isbn_code}}</td>
        </tr>


        <tr>
            <th>Author:</th>
            <td>{{book.author.first_name}} {{book.author.last_name}}</td>
        </tr>

</td> 

</table>
<br/>





{% endblock %}


