{% extends "base.html" %}

{% block content %}

<a class='basic_link' href="/authors">Back</a>


<form action="/authors/{{author.id}}" method="post">
  <div>
    <label for="first_name">Author's first name:</label>
    <input type="text" id="first_name" name="first_name" value="{{author.first_name}}" required>
  </div>

  <div>
    <label for="last_name">Author's last name:</label>
    <input type="text" id="last_name" name="last_name" value="{{author.last_name}}" required>
  </div>

  <div>
    <label for="fb_page">Author's facebook page:</label>
    <input type="text" id="fb_page" name="fb_page" value="{{author.fb_page}}" required>
  </div>

  <div>
    <label for="twitter">Author's twitter page:</label>
    <input type="text" id="twitter" name="twitter" value="{{author.twitter}}" required>
  </div>

  <div>
    <label for="instagram">Author's instagram page:</label>
    <input type="text" id="instagram" name="instagram" value="{{author.instagram}}" required>
  </div>


  <div>
    <label for="active">Author status:</label>
    <select id="active" name="active">

      <option value="true"
        {% if author.active == True %} selected="selected" {% endif %}>
        True
      </option>

      <option value="false"
        {% if author.active == False %} selected="selected" {% endif %}>
        False
      </option>

    </select>
  </div>

  <button type="submit">Update author</button>

</form>

{% endblock %}