{% extends "base.html" %}

{% block content %}

<h1><i class="fas fa-list page_title"></i>List of authors</h1>
<section>
    <hr>
    <table class='results'>
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Facebook account</th>
        <th>Twitter account</th>
        <th>Instagram account</th>
        <th>Author status</th>
    </tr>

    {% for author in authors %}

    <tr>
        <td>{{author.first_name}}</td>
        <td>{{author.last_name}}</td>
        <td>{{author.fb_page}}</td>
        <td>{{author.twitter}}</td>
        <td>{{author.instagram}}</td>
        <td>{{author.active}}</td>
    </tr>

</table>

<hr>
</section>

<nav>
    <ul>
        <li><a class='button' href="/authors/{{author.id}}"></i>View author</a><li>
        <li><a class='button' href="/authors/{{author.id}}/edit"></i>Edit author</a><li>


    </ul>
</nav>


 
    {% endfor %}

</table>


{% endblock %}