{% extends "base.html" %}

{% block content %}

<table>
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Facebook account</th>
        <th>Twitter account</th>
        <th>Instagram account</th>





    </tr>

    {% for author in authors %}

    <tr>
        <td>{{author.first_name}}</td>
        <td>{{author.last_name}}</td>
        <td>{{author.fb_page}}</td>
        <td>{{author.twitter}}</td>
        <td>{{author.instagram}}</td>
        <td><a href="/authors/{{author.id}}">View author</a></td>
        <td><a href="/authors/{{author.id}}/edit">Edit author</a></td>
    </tr>
 
    {% endfor %}

</table>


{% endblock %}