{% extends "base.html" %}

{% block content %}

<table>
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Facebook account</th>
        <th>Twitter account</th>
        <th>Instagram account</th>
        <th>Author statust</th>




    </tr>

    {% for author in authors %}

    <tr>
        <td>{{author.first_name}}</td>
        <td>{{author.last_name}}</td>
        <td>{{author.fb_page}}</td>
        <td>{{author.twitter}}</td>
        <td>{{author.instagram}}</td>
        <td>{{author.active}}</td>
        <td><button><a href="/authors/{{author.id}}">View author</a></button></td>
        <td><button><a href="/authors/{{author.id}}/edit">Edit author</a></button></td>
        <td><form id="delete" action="/authors/{{ author.id }}/delete" method="POST"><input type="submit" value="Delete"></form></td>
    </tr>
 
    {% endfor %}

</table>


{% endblock %}