<!-- template creating a new author -->
{% extends 'base.html' %}

{% block content %}
<a href="/authors">Back</span></i></a>

<form action="/authors" method="post">
    <div>
        <label for="first_name">First name:</label>
        <input type="text" id="first_name" name="first_name" placeholder="Insert first name" required autofocus>
    </div>
    <div>
        <label for="last_name">Last name</label>
        <input type="text" id="last_name" name="last_name" placeholder="Insert last name" required autofocus>
    </div>

    <div>
        <label for="fb_page">Author's facebook account</label>
        <input type="text" id="fb_page" name="fb_page" placeholder="Insert facebook page" required autofocus>
    </div>

    <div>
        <label for="twitter">Author's twitter account</label>
        <input type="text" id="twitter" name="twitter" placeholder="Insert twitter account" required atutofocus>
    </div>

    <div>
        <label for="instagram">Author's instragram account</label>
        <input type="text" id="instagram" name="instagram" placeholder="Insert instagram account" required autofocus>
    </div>

    <div>
        <label for="active">Author is active</label>
        <select id="active" name="active">
            <option value="true">True</option>
            <option value="false">False</option>
          </select>
    </div>


    <button type="submit">Add Author</button>

</form>

{% endblock %}