{% extends 'base.html' %}
{% block content %}

<a class='basic_link' href="/authors"><i class="fas fa-angle-double-right fa-rotate-180"></i><span
    class='basic_link_text'>Back</span></i></a>

    <h1>Become an author</h1>

<hr>
<form action="/authors" method="post">

        <label for="first_name">First name:</label>
        <input type="text" id="first_name" name="first_name" placeholder="Insert first name" required autofocus>

        <label for="last_name">Last name</label>
        <input type="text" id="last_name" name="last_name" placeholder="Insert last name" required autofocus>

        <label for="fb_page">Your facebook</label>
        <input type="text" id="fb_page" name="fb_page" placeholder="Insert facebook page" required autofocus>
 
        <label for="twitter">Your twitter</label>
        <input type="text" id="twitter" name="twitter" placeholder="Insert twitter account" required atutofocus>

        <label for="instagram">Your instragram</label>
        <input type="text" id="instagram" name="instagram" placeholder="Insert instagram account" required autofocus>

        <label for="active">Plan status</label>
        <select id="active" name="active">
            <option value="true">True</option>
            <option value="false">False</option>
        </select>
 


    <button type="submit">Add details</button>


</form>
<hr>


{% endblock %}