<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ShoBook Invetory</title>

        <style>
            body {
                background-color: white;
                color: black;
                text-align: left;
                line-height: 2;
            }
        
            h1 {
                background-color: black;
                color: white;
        </style>
        
    </head>
    <body>
        <header>

            <h1>The ShoBooky Inventory</h1>

        </header>
        <nav class="menu">

   
            <a href="/books">Home</a>
            <a href="/books/new">Add a new book </a>
            <a href="/authors"> Authors registered</a>
            <a href="/authors/new"></i> Add a new author</a>

            


        </nav>
        <section id="content">

            {% block content %}




            
            {% endblock %}
        </section>


    </body>

</html>



<!-- <body>

    <tr>
        <nav>






            <a href="/books">List of books</a>
            <a href="/authors">List of authors</a>
            <a href="/books/new">Add new book</a>
            <a href="/authors/new">Add new author</a>
            </ul>
        </nav>







        


</body>

</html> -->