<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <script src="https://kit.fontawesome.com/b9cf35b5bd.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Antic+Slab&family=Oswald&display=swap" rel="stylesheet">
    <title>Logged in :: {{ title }}</title>
</head>

  


<body>
  <header>
      <nav>
          <ul>

              <li><a href="/books"><i class="fas fa-list"></i>Inventory</a></li>
              <li><a href="/authors"><i class="fas fa-list"></i>Author list</a></li>
              <li><a href="/authors/new"><i class="fas fa-user-plus"></i>Become an author</a></li>
              <li><a href="/books/new"><i class="fas fa-plus"></i>Add a new book</a></li>
          </ul>
      </nav>
  </header>
  <main>
      {% block content %}
      {% endblock %}
  </main>

  <footer>
      <p>Shobooky &#169;2022</p>
  </footer>

</body>