<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav> 
        <ul class="menu">
            <li><a href="/books">List of books</a></li>
            <li><a href="/authors">List of Authors</a></li>
            <li><a href="/books/new">Add a new book</a></li>
            <li><a href="/authors/new">Add a new author</a></li>
        </ul>
    </nav>

    {% block content %}
        
    {% endblock %}


</body>
</html>